{{#if debugRoutes }}
    <div class="debug">
        <table class="table table-striped table-bordered table-condensed">
            <caption>Routes</caption>
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Method</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each debugRoutes}}
                    <tr>
                        <td><a href="{{path}}">{{path}}</a></td>
                        <td>{{method}}</td>
                        <td>{{id}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}