<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{> header}}

    <div id="body-container" class="container">
        {{{content}}}

        {{> footer}}
    </div>

    {{> routes}}
    {{> client-scripts}}
</body>
</html>